/* CONFIG */
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   font-size: 62.5%;

   /* COLORS */
   --white: #ffff;
   --beige: #EFBC9B;
   --weak-beige: #FBF3D5;
   --weak-green: #D6DAC8;
   --strong-green: #9CAFAA;
}

body {
   font-size: 1.6rem;
   font-family: "Roboto", sans-serif;
   background-color: var(--weak-beige);
}

.hide {
   transform: translateX(-100%);
}

.show {
   transform: translateX(0);
}

.btn {
   background-color: inherit;
   border: none;
   cursor: pointer;
}

img {
   width: clamp(3rem, 3rem + 2vw, 4.2rem);
   transition: 0.2s;
}

img:hover {
   transform: scale(1.06);
}

.tt-header, a {
   font-size: clamp(1.9rem, 1.9rem + 1vw, 3rem);
}

li {
   list-style: none;
}

a, .styled-txt {
   color: var(--strong-green);
}

a {
   text-decoration: none;
}

/* OPEN MENU AREA */
#menu-container {
   position: fixed;
   top: 0;
   right: 0;
   left: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   height: 5.5rem;
   padding: 1rem;
   background-color: var(--white);
   margin-bottom: 1.5rem;
}

.close {
   margin-left: 1.4rem;
}

/* PAGE NAVIGATION SIDEBAR */
#navigation-container {
   background-color: var(--white);
   width: clamp(13rem, 13rem + 10vw, 40%);
   display: flex;
   position: fixed;
   top: 0;
   left: 0;
   height: 100%;
   flex-direction: column;
   justify-content: space-between;
   z-index: 1;
   transition: 0.5s;
}

/* NAVIGATION HEADER */
#navigation-header {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin: 0 1rem;
   padding-top: 0.8rem;
}

#navigation-header .close img{
   width: 1.4rem;
   padding-top: 0.5rem;
}

/* NAVIGATION ITEMS AREA */
#navigation-items-container {
   margin: 0 0.5rem 0 0;
}

#navigation-items-container #navigation-items {
   display: flex;
   flex-direction: column;
}

#navigation-items-container #navigation-items .item {
   transition: 0.2s;
   padding: 2.5rem 1rem;
   cursor: pointer;
}

#navigation-items-container #navigation-items .item:hover {
   transform: translateX(0.5rem);
   background-color: var(--weak-green);
}

/* NAVIGATION SOCIAL MEDIA AREA */
#navigation-social-container {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#navigation-social-container #navigation-social-links{
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 2rem;
}

#navigation-social-container #navigation-social-links img {
   transition: 0.1s;
}

#navigation-social-container #navigation-social-links img:hover {
   transform: scale(1.07);
}
